join.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by FEUP (FEUP) -->
<xs:schema xmlns="dcs:scenario" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="dcs:scenario" attributeFormDefault="unqualified">
	<xs:include schemaLocation="common.xsd"/>
	<xs:element name="xway">
		<xs:complexType>
			<xs:attribute name="idr" type="xs:IDREF" use="required"/>
		</xs:complexType>
		<xs:keyref name="xWayRef" refer="xWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/airport/taxiways/taxiway/path/*/connectsTo/xway"/>
			<xs:field xpath="@idr"/>
		</xs:keyref>
		<xs:key name="xWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/airport/taxiways/taxiway"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="utilities">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="fuelFacility"/>
				<xs:element ref="batteryFacility"/>
				<xs:element ref="water"/>
				<xs:element ref="tower"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="batteryFacility">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="coordinates"/>
				<xs:element ref="radius"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="water">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="coordinates"/>
				<xs:element ref="radius"/>
				<xs:element ref="quantity"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="usefulArea">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="areaUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="agentType">
		<xs:complexType mixed="false">
			<xs:sequence>
				<xs:element ref="simulatedAgentType"/>
				<xs:element ref="realAgentType"/>
				<xs:element ref="physical"/>
				<xs:element ref="performance"/>
				<xs:element ref="payloadsLayout"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tower">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="coordinates"/>
				<xs:element ref="radius"/>
				<xs:element ref="height"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxiways">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="taxiway" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxiway">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="surface"/>
				<xs:element ref="width"/>
				<xs:element ref="path"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="startpoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
				<xs:element ref="connectsTo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="simulatedAgentType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="simTitle"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shape">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vertex" minOccurs="3" maxOccurs="unbounded"/>
				<xs:element ref="height"/>
				<xs:element ref="usefulArea"/>
				<xs:element ref="doors"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="scenario">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bases"/>
				<xs:element ref="controllers"/>
				<xs:element ref="agentTypes"/>
				<xs:element ref="noFlyAreas"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rway">
		<xs:complexType>
			<xs:attribute name="idr" type="xs:IDREF" use="required"/>
		</xs:complexType>
		<xs:keyref name="rWayRef" refer="rWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/airport/taxiways/taxiway/path/*/connectsTo/rway"/>
			<xs:field xpath="@idr"/>
		</xs:keyref>
		<xs:key name="rWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/airport/runways/runway"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="runways">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="runway" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="runway">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
				<xs:element ref="length"/>
				<xs:element ref="width"/>
				<xs:element ref="surface"/>
				<xs:element ref="baseEnd"/>
				<xs:element ref="reciprocalEnd"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reciprocalEnd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="startpoint"/>
				<xs:element ref="heading"/>
				<xs:element ref="endpoint"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vehicleType" type="xs:string"/>
	<xs:element name="realAgentType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category"/>
				<xs:element ref="vehicleType"/>
				<xs:element ref="manufacturer"/>
				<xs:element ref="model"/>
				<xs:element ref="variation"/>
				<xs:element ref="additionalInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="path">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="startpoint"/>
				<xs:element ref="midpoint" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="endpoint"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parkingSpaces">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parking" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parking">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="description"/>
				<xs:element ref="airlines"/>
				<xs:element ref="coordinates"/>
				<xs:element ref="radius"/>
				<xs:element ref="connectsToTaxiway"/>
			</xs:sequence>
			<xs:attributeGroup ref="parkingTypeGroup"/>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="noFlyAreas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="area" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="midpoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
				<xs:element ref="connectsTo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="helipads">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="helipad" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="helipad">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="surface"/>
				<xs:element ref="coordinates"/>
				<xs:element ref="radius"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="hangars">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="hangar" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hangar">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="description"/>
				<xs:element ref="shape"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fuelFacility">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="coordinates"/>
				<xs:element ref="radius"/>
				<xs:element ref="quantity"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
			<xs:attributeGroup ref="fuelTypeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="frequency">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attributeGroup ref="freqTypeGroup"/>
					<xs:attributeGroup ref="frequencyUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="frequencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="frequency" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="endpoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
				<xs:element ref="connectsTo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="doors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vertex" minOccurs="2" maxOccurs="unbounded"/>
				<xs:element ref="length"/>
				<xs:element ref="height"/>
			</xs:sequence>
			<xs:attributeGroup ref="doorTypeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="controllers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="controller" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="controller">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="area"/>
				<xs:element ref="frequencies"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
			<xs:attributeGroup ref="baseIDGroup"/>
			<xs:attributeGroup ref="roleGroup"/>
			<xs:attributeGroup ref="requiredActionGroup"/>
		</xs:complexType>
		<xs:keyref name="ctrlrBaseRef" refer="ctrlrBaseKey">
			<xs:selector xpath="./scenario/controllers/controller"/>
			<xs:field xpath="@baseID"/>
		</xs:keyref>
		<xs:key name="ctrlrBaseKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="connectsTo">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="rway"/>
				<xs:element ref="xway"/>
				<xs:element ref="wway"/>
				<xs:element ref="rdway"/>
				<xs:element ref="qWay"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="bases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="baseOfOperations" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="baseOfOperations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="mobility"/>
				<xs:element ref="description"/>
				<xs:element ref="history"/>
				<xs:element ref="contactPerson"/>
				<xs:element ref="location"/>
				<xs:element ref="availability"/>
				<xs:element ref="airport" minOccurs="0"/>
				<xs:element ref="port" minOccurs="0"/>
				<xs:element ref="groundBase" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="baseEnd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="startpoint"/>
				<xs:element ref="heading"/>
				<xs:element ref="endpoint"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="airport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="description"/>
				<xs:element ref="contactPerson"/>
				<xs:element ref="location"/>
				<xs:element ref="ICAO"/>
				<xs:element ref="IATA"/>
				<xs:element ref="magVar"/>
				<xs:element ref="runways"/>
				<xs:element ref="helipads"/>
				<xs:element ref="taxiways"/>
				<xs:element ref="parkingSpaces"/>
				<xs:element ref="hangars"/>
				<xs:element ref="utilities"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="agentTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="agentType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IATA" type="xs:string"/>
	<xs:element name="variation" type="xs:string"/>
	<xs:element name="simTitle" type="xs:string"/>
	<xs:element name="model" type="xs:string"/>
	<xs:element name="manufacturer" type="xs:string"/>
	<xs:element name="magVar" type="xs:double"/>
	<xs:element name="ICAO" type="xs:string"/>
	<xs:attributeGroup name="roleGroup">
		<xs:attribute name="role" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="civilian"/>
					<xs:enumeration value="military"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="requiredActionGroup">
		<xs:attribute name="requiredAction" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="doorTypeGroup">
		<xs:attribute name="doorType" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="parkingTypeGroup">
		<xs:attribute name="parkingType" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="freqTypeGroup">
		<xs:attribute name="freqType" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="designationGroup">
		<xs:attribute name="designation" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="baseGroup">
		<xs:attribute name="base" type="xs:IDREF" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="baseIDGroup">
		<xs:attribute name="baseID" type="xs:IDREF" use="required"/>
	</xs:attributeGroup>
	<xs:element name="wingspan">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="wingArea">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="areaUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="emptyWeight">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="massUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxPayload">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="massUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxFuel">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="volumeUnitGroup"/>
					<xs:attributeGroup ref="fuelTypeGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxBattery">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="energyUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="physical">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="length"/>
				<xs:element ref="height"/>
				<xs:element ref="emptyWeight"/>
				<xs:element ref="maxPayload"/>
				<xs:element ref="nEngines"/>
				<xs:choice>
					<xs:element ref="maxFuel"/>
					<xs:element ref="maxBattery"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>planes</xs:documentation>
						</xs:annotation>
						<xs:element ref="wingspan"/>
						<xs:element ref="wingArea"/>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>cars</xs:documentation>
						</xs:annotation>
						<xs:element ref="width"/>
						<xs:element ref="nWheels"/>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Water</xs:documentation>
						</xs:annotation>
						<xs:element ref="beam"/>
						<xs:element ref="rudderArea" minOccurs="0"/>
						<xs:element ref="anchorLength" minOccurs="0"/>
						<xs:element ref="mooringLines" minOccurs="0"/>
						<xs:choice>
							<xs:sequence>
								<xs:annotation>
									<xs:documentation>Boats</xs:documentation>
								</xs:annotation>
								<xs:element ref="maxDraft"/>
							</xs:sequence>
							<xs:sequence>
								<xs:annotation>
									<xs:documentation>Subs</xs:documentation>
								</xs:annotation>
								<xs:element ref="seaplaneArea" minOccurs="0"/>
								<xs:element ref="waterTanks" minOccurs="0"/>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="performance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cruiseSpeed"/>
				<xs:element ref="maxSpeed"/>
				<xs:element ref="range"/>
				<xs:choice>
					<xs:element ref="fuelFlow"/>
					<xs:element ref="energyFlow"/>
				</xs:choice>
				<xs:element ref="dragCoefficient"/>
				<xs:choice>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>planes</xs:documentation>
						</xs:annotation>
						<xs:element ref="stallSpeed"/>
						<xs:element ref="climbRate"/>
						<xs:element ref="ceiling"/>
						<xs:element ref="requiredRunwayLength"/>
						<xs:element ref="maxTakeoffWeight"/>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Cars </xs:documentation>
						</xs:annotation>
						<xs:element ref="maxAttackAngle"/>
						<xs:element ref="min90DegTurnRadius"/>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Boat</xs:documentation>
						</xs:annotation>
						<xs:element ref="min90DegTurnRadius"/>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Subs</xs:documentation>
						</xs:annotation>
						<xs:element ref="maxUnderwaterSpeed"/>
						<xs:element ref="maxVerticalVelocity"/>
						<xs:element ref="maxDepth"/>
						<xs:element ref="min90DegTurnRadius"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="payloadsLayout">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="payloadInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxTakeoffWeight">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="massUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="requiredRunwayLength">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cruiseSpeed">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="velocityUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxSpeed">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="velocityUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stallSpeed">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="velocityUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="range">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ceiling">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="climbRate">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="velocityUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxCargo">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="massUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="payloadInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="relativeLocation"/>
				<xs:element ref="dimensions"/>
				<xs:element ref="maxCargo"/>
			</xs:sequence>
			<xs:attribute name="name" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="port">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="description"/>
				<xs:element ref="contactPerson"/>
				<xs:element ref="location"/>
				<xs:element ref="magVar"/>
				<xs:element ref="waterways"/>
				<xs:element ref="quays"/>
				<xs:element ref="berths"/>
				<xs:element ref="utilities"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="groundBase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="description"/>
				<xs:element ref="contactPerson"/>
				<xs:element ref="location"/>
				<xs:element ref="magVar"/>
				<xs:element ref="roads"/>
				<xs:element ref="parkingsGround"/>
				<xs:element ref="garages"/>
				<xs:element ref="utilities"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parkingSpacesGround">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="description"/>
				<xs:element ref="parkingSpace" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parkingSpace">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parkStartpoint"/>
				<xs:element ref="parkEndpoint"/>
				<xs:element ref="width"/>
			</xs:sequence>
			<xs:attributeGroup ref="parkingTypeGroup"/>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parkStartpoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parkEndpoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="category">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxRudderAngle">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="angleUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="parkingsGround">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parkingSpacesGround" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="garages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="garage" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="garage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="description"/>
				<xs:element ref="shape"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nEngines">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:int">
					<xs:attributeGroup ref="engineTypeGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="min90DegTurnRadius">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="depth">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="wway">
		<xs:complexType>
			<xs:attribute name="idr" type="xs:IDREF" use="required"/>
		</xs:complexType>
		<xs:keyref name="wWayRef" refer="wWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/port/waterways/waterway/path/*/connectsTo/wway"/>
			<xs:field xpath="@idr"/>
		</xs:keyref>
		<xs:key name="wWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/port/waterways/waterway"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="qWay">
		<xs:complexType>
			<xs:attribute name="idr" use="required"/>
		</xs:complexType>
		<xs:keyref name="quayWayRef" refer="quayWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/port/quays/quay/path/*/connectsTo/qway"/>
			<xs:field xpath="@idr"/>
		</xs:keyref>
		<xs:key name="quayWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/port/quays/quay"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="rdway">
		<xs:complexType>
			<xs:attribute name="idr" type="xs:IDREF" use="required"/>
		</xs:complexType>
		<xs:keyref name="roadWayRef" refer="roadWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/groundBase/roads/road/path/*/connectsTo/rdway"/>
			<xs:field xpath="@idr"/>
		</xs:keyref>
		<xs:key name="roadWayKey">
			<xs:selector xpath="./scenario/bases/baseOfOperations/groundBase/roads/road"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="roads">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="road" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="road">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="surface"/>
				<xs:element ref="width"/>
				<xs:element ref="totalNumberOfLanes"/>
				<xs:element ref="trafficIsRightHand"/>
				<xs:element ref="path"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
			<xs:attribute name="name"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="totalNumberOfLanes">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:int">
					<xs:attribute name="reverseLanes" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="trafficIsRightHand" type="xs:boolean"/>
	<xs:element name="waterways">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="waterway" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quays">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quay" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="berths">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="mooringSpace"/>
				<xs:element ref="slipway"/>
				<xs:element ref="dryDock"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="waterway">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="width"/>
				<xs:element ref="depth"/>
				<xs:element ref="path"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="quay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="description"/>
				<xs:element ref="width"/>
				<xs:element ref="surface"/>
				<xs:element ref="path"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
			<xs:attributeGroup ref="quayTypeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mooringSpace">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="description"/>
				<xs:element ref="boatType"/>
				<xs:element ref="depth"/>
				<xs:element ref="maxBoatLength"/>
				<xs:element ref="mooringWidth"/>
				<xs:element ref="coordinates"/>
				<xs:element ref="mooresTo" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxBoatLength">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mooringWidth">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mooresTo">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:IDREF">
					<xs:attributeGroup ref="mooringSideGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="slipway">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="description"/>
				<xs:element ref="boatType"/>
				<xs:element ref="length"/>
				<xs:element ref="width"/>
				<xs:element ref="angle"/>
				<xs:element ref="surface"/>
				<xs:element ref="maxWeight"/>
				<xs:element ref="coordinates"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dryDock">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="designation"/>
				<xs:element ref="description"/>
				<xs:element ref="boatType"/>
				<xs:element ref="length"/>
				<xs:element ref="width"/>
				<xs:element ref="depth"/>
				<xs:element ref="height"/>
				<xs:element ref="dryDockVolume"/>
				<xs:element ref="waterFlow"/>
				<xs:element ref="coordinates"/>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="angle">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="angleUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxWeight">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="massUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="airlines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="airline" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dryDockVolume">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="volumeUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="waterFlow">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="volumeFlowUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxUnderwaterSpeed">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="velocityUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nWheels">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:int">
					<xs:attribute name="withTraction" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="beam">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rudderArea">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="areaUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="anchorLength">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attribute name="nAnchors" type="xs:int" use="required"/>
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxDraft">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mooringLines">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attribute name="nLines" type="xs:int" use="required"/>
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="seaplaneArea">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="areaUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="waterTanks">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attribute name="nTanks" type="xs:int" use="required"/>
					<xs:attributeGroup ref="volumeUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="boatType">
		<xs:complexType>
			<xs:attributeGroup ref="boatTypeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="airline" type="xs:string"/>
	<xs:element name="maxAttackAngle">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="angleUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="connectsToTaxiway">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
			</xs:sequence>
			<xs:attribute name="xway" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
<xs:element name="name" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="telephone" type="xs:string"/>
	<xs:element name="zipCode" type="xs:string"/>
	<xs:element name="institution" type="xs:string"/>
	<xs:element name="fax" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="country" type="xs:string"/>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="cellphone" type="xs:string"/>
	<xs:element name="address" type="xs:string"/>
	<xs:element name="position" type="xs:string"/>
	<xs:element name="purposes" type="xs:string"/>
	<xs:element name="stateDistrictRegion" type="xs:string"/>
	<xs:element name="denomination" type="xs:string"/>
	<xs:element name="longitude" type="xs:string"/>
	<xs:element name="latitude" type="xs:string"/>
	<xs:element name="additionalInformation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="contactPerson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="title"/>
				<xs:element ref="institution"/>
				<xs:element ref="position"/>
				<xs:element ref="address"/>
				<xs:element ref="zipCode"/>
				<xs:element ref="city"/>
				<xs:element ref="stateDistrictRegion"/>
				<xs:element ref="country"/>
				<xs:element ref="telephone"/>
				<xs:element ref="cellphone"/>
				<xs:element ref="fax"/>
				<xs:element ref="email"/>
				<xs:element ref="additionalInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="minAlt">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
					<xs:attributeGroup ref="measuredGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxAlt">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
					<xs:attributeGroup ref="measuredGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="vertex">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="latitude"/>
				<xs:element ref="longitude"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="length">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="height">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="width">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="radius">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="quantity">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="volumeUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="coordinates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="latitude"/>
				<xs:element ref="longitude"/>
				<xs:element ref="altitude"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="polygon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="minAlt"/>
				<xs:element ref="maxAlt"/>
				<xs:element ref="vertex" minOccurs="3" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="area">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="denomination"/>
				<xs:element ref="medium"/>
				<xs:element ref="availability"/>
				<xs:choice>
					<xs:element ref="polygon"/>
					<xs:element ref="circle"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="idGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="medium">
		<xs:complexType>
			<xs:attributeGroup ref="mobilityGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="altitude">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
					<xs:attributeGroup ref="measuredGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="designation" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="history" type="xs:string"/>
	<xs:element name="mobility">
		<xs:complexType>
			<xs:attributeGroup ref="mobilityGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="location">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address"/>
				<xs:element ref="zipCode"/>
				<xs:element ref="city"/>
				<xs:element ref="stateDistrictRegion"/>
				<xs:element ref="country"/>
				<xs:element ref="coordinates"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="heading">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="headingTypeGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="headingTypeGroup">
		<xs:attribute name="headingType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="True"/>
					<xs:enumeration value="Magnetic"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="idGroup">
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="angleUnitGroup">
		<xs:attribute name="angleUnit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Degrees"/>
					<xs:enumeration value="Radians"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="areaUnitGroup">
		<xs:attribute name="areaUnit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Square Foot"/>
					<xs:enumeration value="Square Kilometer"/>
					<xs:enumeration value="Square Meter"/>
					<xs:enumeration value="Square Mile"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="frequencyUnitGroup">
		<xs:attribute name="frequencyUnit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Hertz"/>
					<xs:enumeration value="KiloHertz"/>
					<xs:enumeration value="MegaHertz"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="weight">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="massUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="massUnitGroup">
		<xs:attribute name="massUnit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Ounce"/>
					<xs:enumeration value="Pound"/>
					<xs:enumeration value="Gram"/>
					<xs:enumeration value="Kilogram"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="velocityUnitGroup">
		<xs:attribute name="velocityUnit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Mile (Statute) per Hour"/>
					<xs:enumeration value="Nautical Mile per Hour (Knot)"/>
					<xs:enumeration value="Inch per Second"/>
					<xs:enumeration value="Meter per Second"/>
					<xs:enumeration value="Kilometer per Hour"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="volumeUnitGroup">
		<xs:attribute name="volumeUnit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Gallon"/>
					<xs:enumeration value="Litre"/>
					<xs:enumeration value="Cubic Mile (Statute)"/>
					<xs:enumeration value="Cubic Nautical Mile"/>
					<xs:enumeration value="Cubic Kilometer"/>
					<xs:enumeration value="Cubic Meter"/>
					<xs:enumeration value="Cubic Foot"/>
					<xs:enumeration value="Cubic Inch"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="distLocationPlacingGroup">
		<xs:attribute name="placing" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="fixed"/>
					<xs:enumeration value="random"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="measuredGroup">
		<xs:attribute name="measured" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="amsl"/>
					<xs:enumeration value="agl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="lengthUnitGroup">
		<xs:attribute name="lengthUnit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Nautical Mile"/>
					<xs:enumeration value="Mile (Statute)"/>
					<xs:enumeration value="Kilometer"/>
					<xs:enumeration value="Inch"/>
					<xs:enumeration value="Centimeter"/>
					<xs:enumeration value="Meter"/>
					<xs:enumeration value="Foot"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="timeUnitGroup">
		<xs:attribute name="timeUnit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Second"/>
					<xs:enumeration value="Minute"/>
					<xs:enumeration value="Hour"/>
					<xs:enumeration value="Day"/>
					<xs:enumeration value="Week"/>
					<xs:enumeration value="Month"/>
					<xs:enumeration value="Year"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="fuelTypeGroup">
		<xs:attribute name="fuelType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Avgas"/>
					<xs:enumeration value="Jet A"/>
					<xs:enumeration value="Jet A-1"/>
					<xs:enumeration value="Jet B"/>
					<xs:enumeration value="JP-1"/>
					<xs:enumeration value="JP-4"/>
					<xs:enumeration value="JP-5"/>
					<xs:enumeration value="JP-6"/>
					<xs:enumeration value="JP-7"/>
					<xs:enumeration value="JP-8"/>
					<xs:enumeration value="JPTS"/>
					<xs:enumeration value="AV073"/>
					<xs:enumeration value="AV087"/>
					<xs:enumeration value="AV100"/>
					<xs:enumeration value="AV130"/>
					<xs:enumeration value="AV145"/>
					<xs:enumeration value="Gasoline"/>
					<xs:enumeration value="Diesel"/>
					<xs:enumeration value="Kerosene"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="mobilityGroup">
		<xs:attribute name="water" type="xs:boolean" use="required"/>
		<xs:attribute name="underwater" type="xs:boolean" use="required"/>
		<xs:attribute name="land" type="xs:boolean" use="required"/>
		<xs:attribute name="air" type="xs:boolean" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="volumeFlowUnitGroup">
		<xs:attributeGroup ref="volumeUnitGroup"/>
		<xs:attributeGroup ref="timeUnitGroup"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="densityUnitGroup">
		<xs:attributeGroup ref="massUnitGroup"/>
		<xs:attributeGroup ref="volumeUnitGroup"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="timeSlotRecurrenceGroup">
		<xs:attribute name="every">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="365"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="repeat">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Day"/>
					<xs:enumeration value="Week"/>
					<xs:enumeration value="Month"/>
					<xs:enumeration value="Year"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="lightsCommonGroup">
		<xs:attribute name="cabin" type="xs:boolean" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="lightsGroup">
		<xs:attributeGroup ref="lightsCommonGroup"/>
		<xs:attribute name="logo" type="xs:boolean" use="required"/>
		<xs:attribute name="wing" type="xs:boolean" use="required"/>
		<xs:attribute name="recognition" type="xs:boolean" use="required"/>
		<xs:attribute name="panel" type="xs:boolean" use="required"/>
		<xs:attribute name="strobe" type="xs:boolean" use="required"/>
		<xs:attribute name="taxi" type="xs:boolean" use="required"/>
		<xs:attribute name="landing" type="xs:boolean" use="required"/>
		<xs:attribute name="beacon" type="xs:boolean" use="required"/>
		<xs:attribute name="nav" type="xs:boolean" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="lightsCarGroup">
		<xs:attributeGroup ref="lightsCommonGroup"/>
		<xs:attribute name="frontLeft" type="xs:boolean" use="required"/>
		<xs:attribute name="frontRight" type="xs:boolean" use="required"/>
		<xs:attribute name="rearLeft" type="xs:boolean" use="required"/>
		<xs:attribute name="rearRight" type="xs:boolean" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="lightsBoatsGroup">
		<xs:attributeGroup ref="lightsCommonGroup"/>
		<xs:attribute name="masthead" type="xs:boolean" use="required"/>
		<xs:attribute name="stern" type="xs:boolean" use="required"/>
		<xs:attribute name="sidelights" type="xs:boolean" use="required"/>
		<xs:attribute name="towing" type="xs:boolean" use="required"/>
		<xs:attribute name="allAround" type="xs:boolean" use="required"/>
		<xs:attribute name="strobe" type="xs:boolean" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="lightsSubmarineGroup">
		<xs:attributeGroup ref="lightsCommonGroup"/>
		<xs:attribute name="rudder" type="xs:boolean" use="required"/>
		<xs:attribute name="port" type="xs:boolean" use="required"/>
		<xs:attribute name="starboard" type="xs:boolean" use="required"/>
		<xs:attribute name="bow" type="xs:boolean" use="required"/>
		<xs:attribute name="strobe" type="xs:boolean" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="shapeGroup">
		<xs:attribute name="shape" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="sphere"/>
					<xs:enumeration value="cilinder"/>
					<xs:enumeration value="paralelogram"/>
					<xs:enumeration value="custom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="energyFlowUnitGroup">
		<xs:attributeGroup ref="energyUnitGroup"/>
		<xs:attributeGroup ref="timeUnitGroup"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="energyUnitGroup">
		<xs:attribute name="energyUnit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Ampere"/>
					<xs:enumeration value="miliAmpere"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="dimensions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="width"/>
				<xs:element ref="length"/>
				<xs:element ref="height"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="availability">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="timeSlot" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="available" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="always"/>
						<xs:enumeration value="periodic"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="timeSlot">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fromDate" minOccurs="0"/>
				<xs:element ref="toDate" minOccurs="0"/>
				<xs:element ref="startDate"/>
				<xs:element ref="startTime"/>
				<xs:element ref="endDate"/>
				<xs:element ref="endTime"/>
			</xs:sequence>
			<xs:attributeGroup ref="timeSlotRecurrenceGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="timePoint">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="time"/>
				<xs:element ref="after"/>
			</xs:choice>
			<xs:attribute name="countingFrom" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="simulationStart"/>
						<xs:enumeration value="absolute"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="timeInterval">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="startTime"/>
					<xs:element ref="endTime"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="startAfter"/>
					<xs:element ref="endAfter"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="countingFrom" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="simulationStart"/>
						<xs:enumeration value="absolute"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dragCoefficient" type="xs:double"/>
	<xs:attributeGroup name="engineTypeGroup">
		<xs:attribute name="engineType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Piston"/>
					<xs:enumeration value="Jet"/>
					<xs:enumeration value="None"/>
					<xs:enumeration value="Turbine"/>
					<xs:enumeration value="TurboProp"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="maxDepth">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxVerticalVelocity">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="velocityUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="relativeLocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="displacementX"/>
				<xs:element ref="displacementY"/>
				<xs:element ref="displacementZ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="growthTypeGroup">
		<xs:attribute name="growthType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="fixed"/>
					<xs:enumeration value="grow"/>
					<xs:enumeration value="shrink"/>
					<xs:enumeration value="variable"/>
					<xs:enumeration value="spread"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="disturbanceTypeGroup">
		<xs:attribute name="disturbanceType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Fire"/>
					<xs:enumeration value="Pollution"/>
					<xs:enumeration value="Person"/>
					<xs:enumeration value="Vehicle"/>
					<xs:enumeration value="Hydrothermal vent"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="growthFunctionGroup">
		<xs:attribute name="growthFunction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="linear"/>
					<xs:enumeration value="polynomial"/>
					<xs:enumeration value="exponential"/>
					<xs:enumeration value="logarithmic"/>
					<xs:enumeration value="root"/>
					<xs:enumeration value="sinusoid"/>
					<xs:enumeration value="custom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="functionVariableGroup">
		<xs:attribute name="functionVariable">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="time"/>
					<xs:enumeration value="distToCenter"/>
					<xs:enumeration value="LatFromCenter"/>
					<xs:enumeration value="LonFromCenter"/>
					<xs:enumeration value="AltFromCenter"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="dispersionTypeGroup">
		<xs:attribute name="dispersionType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="uniform"/>
					<xs:enumeration value="linear"/>
					<xs:enumeration value="polynomial"/>
					<xs:enumeration value="exponential"/>
					<xs:enumeration value="logarithmic"/>
					<xs:enumeration value="root"/>
					<xs:enumeration value="sinusoid"/>
					<xs:enumeration value="custom model"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dispersionModel">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="AERMOD"/>
					<xs:enumeration value="CALPUFF"/>
					<xs:enumeration value="BLP"/>
					<xs:enumeration value="OCD"/>
					<xs:enumeration value="POLGRAPH"/>
					<xs:enumeration value="ADMS-3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="sense">
		<xs:complexType>
			<xs:attributeGroup ref="sensorTypeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="sensorTypeGroup">
		<xs:attribute name="sensorType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="temperature"/>
					<xs:enumeration value="CO2"/>
					<xs:enumeration value="CO"/>
					<xs:enumeration value="Camera"/>
					<xs:enumeration value="S"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="fuelFlow">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="volumeFlowUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="energyFlow">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="energyFlowUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="quayTypeGroup">
		<xs:attribute name="quayType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="pier"/>
					<xs:enumeration value="jetty"/>
					<xs:enumeration value="mole"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="mooringSideGroup">
		<xs:attribute name="mooringSide" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="bow"/>
					<xs:enumeration value="stern"/>
					<xs:enumeration value="starboard"/>
					<xs:enumeration value="port"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="targetActionGroup">
		<xs:attribute name="targetAction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Detect"/>
					<xs:enumeration value="DetectOrigin"/>
					<xs:enumeration value="DropOn"/>
					<xs:enumeration value="Follow"/>
					<xs:enumeration value="Transport"/>
					<xs:enumeration value="Measure"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="boatTypeGroup">
		<xs:attribute name="passengers" type="xs:boolean" use="required"/>
		<xs:attribute name="rollOnRollOff" type="xs:boolean" use="required"/>
		<xs:attribute name="fish" type="xs:boolean" use="required"/>
		<xs:attribute name="recreation" type="xs:boolean" use="required"/>
		<xs:attribute name="containers" type="xs:boolean" use="required"/>
		<xs:attribute name="bulk" type="xs:boolean" use="required"/>
		<xs:attribute name="bulkLiquid" type="xs:boolean" use="required"/>
		<xs:attribute name="pipeline" type="xs:boolean" use="required"/>
		<xs:attribute name="tug" type="xs:boolean" use="required"/>
		<xs:attribute name="military" type="xs:boolean" use="required"/>
		<xs:attribute name="scientific" type="xs:boolean" use="required"/>
		<xs:attribute name="underwater" type="xs:boolean" use="required"/>
	</xs:attributeGroup>
	<xs:element name="time" type="xs:time"/>
	<xs:element name="after" type="xs:duration"/>
	<xs:element name="startTime" type="xs:time"/>
	<xs:element name="endTime" type="xs:time"/>
	<xs:element name="startAfter" type="xs:duration"/>
	<xs:element name="endAfter" type="xs:duration"/>
	<xs:element name="circle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="minAlt"/>
				<xs:element ref="maxAlt"/>
				<xs:element ref="center"/>
				<xs:element ref="radius"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="center">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="latitude"/>
				<xs:element ref="longitude"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="displacementZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="displacementY">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="displacementX">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="lengthUnitGroup"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cargo">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="quantity" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="surface">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Concrete"/>
				<xs:enumeration value="Grass"/>
				<xs:enumeration value="Water"/>
				<xs:enumeration value="Grass_bumpy"/>
				<xs:enumeration value="Asphalt"/>
				<xs:enumeration value="Short_grass"/>
				<xs:enumeration value="Long_grass"/>
				<xs:enumeration value="Hard_turf"/>
				<xs:enumeration value="Snow"/>
				<xs:enumeration value="Ice"/>
				<xs:enumeration value="Urban"/>
				<xs:enumeration value="Forest"/>
				<xs:enumeration value="Dirt"/>
				<xs:enumeration value="Coral"/>
				<xs:enumeration value="Gravel"/>
				<xs:enumeration value="Oil_treated"/>
				<xs:enumeration value="Steel_mats"/>
				<xs:enumeration value="Bituminus"/>
				<xs:enumeration value="Brick"/>
				<xs:enumeration value="Macadam"/>
				<xs:enumeration value="Planks"/>
				<xs:enumeration value="Sand"/>
				<xs:enumeration value="Shale"/>
				<xs:enumeration value="Tarmac"/>
				<xs:enumeration value="Wood"/>
				<xs:enumeration value="Cement"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fromDate" type="xs:date"/>
	<xs:element name="toDate" type="xs:date"/>
	<xs:element name="startDate" type="xs:date"/>
	<xs:element name="endDate" type="xs:date"/>

</xs:schema>
